@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Exo';
    outline: none;
}

html {
    scroll-behavior: smooth;
}


body {}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
}

.logo {
    position: relative;
    width: 150px;
    padding: 0 10px;
}

.logo2 {
    width: 150px;
    padding: 0 10px;
}

@media(max-width:1090px) {

    .logo,
    .logo2 {
        width: 100px;
    }


}

@media(max-width:930px) {

    .logo,
    .logo2 {
        width: 150px;
    }
}

@media(max-width:530px) {

    .logo,
    .logo2 {
        width: 100px;
    }

    .logos {
        top: 25px;
    }
}

.nav {
    height: 80px;
    transition: .3s;
    position: relative;
    z-index: 100000;
}

.menu li {
    font-size: 18px;
    padding: 0 15;
    line-height: 80px;
    height: 100%;
    transition: .2s;
}

a {
    text-decoration: none;
    margin-top: -3px;
}

.menu a li:hover {
    color: #0080C2;
    transition: .2s;
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: 3%;
}

header .fas {
    display: none;
}





@media(max-width:1600px) {
    .menu a li {
        font-size: 12px;
        padding: 0 10;
    }
}

@media(max-width:1400px) {
    .menu {
        flex-direction: column;
        background: rgba(37, 37, 37, 0.89);
        height: 100vh;
        width: 60%;
        right: -60%;
        position: fixed;
        transition: .3s;
        text-align: center;
    }

    header .fas {
        display: block;
        font-size: 30;
    }

    header .fa-bars {
        position: absolute;
        right: 5%;
        line-height: 80px;
        z-index: 0;
    }

    header .fa-times {
        position: absolute;
        right: 10%;
        top: 2.5%;
    }

    .menu a {
        font-size: 20px;
        position: relative;
        top: 50px;
    }

    .menu li {
        height: 70px;
    }

    .menu-show {
        right: 0;
        transition: .3s;
        z-index: 20;
        box-shadow: 0px 0px 10px rgb(46, 39, 41);
    }


}

.uvod {
    position: relative;
    background-image: url('../images/detBG.jpg');
    height: 100vh;
    width: 100vw;
    background-size: auto;
}

.layout {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    justify-content: space-between;
}



.left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-left: 15%;
}

.right {
    margin-right: 15%;
}

.left h1 {
    font-size: 70px;
}

.contact-form {
    width: 674px;
    height: 368px;
    background: rgba(254, 254, 254, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 30px;
}

.contact-form input {
    width: 200px;
    height: 30px;
    background: rgba(254, 254, 254, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 7px;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: white;
}

#submit {
    background: rgba(0, 16, 107, 0.226);
    cursor: pointer;
    transition: .2s;
}

#submit:hover {
    background: rgba(254, 254, 254, 0.08);
    transition: .2s;
}

.contact-form textarea {
    background: rgba(254, 254, 254, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 7px;
    border: none;
    padding: 5px 10px;
    width: 70%;
}

@media(max-width:1500px) {
    .left {
        margin-left: 5%;
    }

    .right {
        margin-right: 5%;
    }
}

@media(max-width:1130px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-right: 0%;
    }

    .left {
        margin-left: 0%;
        text-align: center;
    }
}

@media(max-width:1000px) {
    .contact-form {
        margin-top: 30px;
        width: 350px;
        height: 400px;
        background: rgba(254, 254, 254, 0.08);
        backdrop-filter: blur(12px);
        border-radius: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px 30px;
    }
}

@media(max-width:435px) {
    .contact-form {
        width: 280px;
        height: 350;
    }
}

.footer {
    width: 100vw;
    height: 50px;
    background: #002B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.footer h1 {
    font-size: 15px;
    color: #adadad;
    font-weight: 200;
}