@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Exo';
    outline: none;
}

html {
    scroll-behavior: smooth;
}


body {}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-image: url('images/detBG.jpg');
    background-size: cover;
}

.logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
}

.logo {
    position: relative;
    width: 150px;
    padding: 0 10px;
}

.logo2 {
    width: 150px;
    padding: 0 10px;
}

@media(max-width:1090px) {

    .logo,
    .logo2 {
        width: 100px;
    }


}

@media(max-width:930px) {

    .logo,
    .logo2 {
        width: 150px;
    }
}

@media(max-width:530px) {

    .logo,
    .logo2 {
        width: 100px;
    }

    .logos {
        top: 25px;
    }
}

.nav {
    height: 80px;
    transition: .3s;
    position: relative;
    z-index: 100000;
}

.menu li {
    font-size: 14px;
    padding: 0 15;
    line-height: 80px;
    height: 100%;
    transition: .2s;
}

a {
    text-decoration: none;
    margin-top: -3px;
}

.menu a li:hover {
    color: #0080C2;
    transition: .2s;
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: 3%;
}

header .fas {
    display: none;
}





@media(max-width:1600px) {
    .menu a li {
        font-size: 12px;
        padding: 0 10;
    }
}

@media(max-width:1400px) {
    .menu {
        flex-direction: column;
        background: rgba(37, 37, 37, 0.89);
        height: 100vh;
        width: 60%;
        right: -60%;
        position: fixed;
        transition: .3s;
        text-align: center;
    }

    header .fas {
        display: block;
        font-size: 30;
    }

    header .fa-bars {
        position: absolute;
        right: 5%;
        line-height: 80px;
        z-index: 0;
    }

    header .fa-times {
        position: absolute;
        right: 10%;
        top: 2.5%;
    }

    .menu a {
        font-size: 20px;
        position: relative;
        top: 50px;
    }

    .menu li {
        height: 70px;
    }

    .menu-show {
        right: 0;
        transition: .3s;
        z-index: 20;
        box-shadow: 0px 0px 10px rgb(46, 39, 41);
    }


}

.uvod {
    position: relative;
    background: none;
    height: 100vh;
    background-size: auto;
}

.intro {
    position: relative;
    top: 200px;
    text-align: center;
}

.intro h1 {
    font-size: 55px;
}

.intro h2 {
    font-size: 17px;
    font-weight: 300;
}

@media(max-height:900px) {
    .intro {
        top: 100px;
    }
}

@media(max-width:485px) {
    .intro h1 {
        font-size: 43px;
    }
}

@media(max-width:370px) {
    .intro h1 {
        font-size: 35px;
    }
}

@media(max-height:700px) {
    .intro {
        top: 50px;
    }
}

.sluzby-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    gap: 10px;
    justify-content: center;
    margin: auto;
    margin-top: -450px;
}


.sluzby-box {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #052237;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sluzby-box h1 {
    font-size: 25px;
}

.sluzby-box p {
    font-size: 13px;
}

@media(max-width:1400px) {
    .sluzby-layout {
        width: 1100px;
    }

    .sluzby-box {
        width: 300px;
        height: 150px;
    }

    .sluzby-box h1 {
        font-size: 20px;
    }
}

@media(max-width:1100px) {
    .sluzby-layout {
        width: 800px;
        gap: 20px;
    }
}

@media(max-width:800px) {
    .sluzby-layout {
        width: 600px;
        gap: 10px;
    }

    .sluzby-box {
        width: 250px;
        height: 125px;
        padding: 5px 10px;
    }

    .sluzby-box h1 {
        font-size: 17px;
    }

    .sluzby-box p {
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .sluzby-layout {
        width: 440px;
        gap: 10px;
    }

    .sluzby-box {
        width: 200px;
        height: 100px;
        padding: 3px 7px;
    }

    .sluzby-box h1 {
        font-size: 15px;
    }

    .sluzby-box p {
        font-size: 10px;
    }
}

@media(max-width:450px) {
    .sluzby-layout {
        width: 320px;
        gap: 10px;
    }

    .sluzby-box {
        width: 320px;
        height: 160px;
        padding: 5px 10px;
    }

    .sluzby-box h1 {
        font-size: 20px;
    }

    .sluzby-box p {
        font-size: 12px;
    }
}

@media(max-height:800px) {
    .sluzby-layout {
        margin-top: -400px;
    }
}

@media(max-height:700px) {
    .sluzby-layout {
        margin-top: -350px;
    }
}

@media(max-height:650px) {
    .sluzby-layout {
        margin-top: -300px;
    }
}

@media(max-height:600px) {
    .sluzby-layout {
        margin-top: -250px;
    }
}

@media(max-height:550px) {
    .sluzby-layout {
        margin-top: -200px;
    }
}

@media(max-height:500px) {
    .sluzby-layout {
        margin-top: -150px;
    }
}

.footer {
    width: 100vw;
    height: 50px;
    background: #002B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.footer h1 {
    font-size: 15px;
    color: #adadad;
    font-weight: 200;
}

@media(max-width:550px) {
    .footer {
        margin-top: 50px;
    }
}