@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Exo';
    outline: none;
}

html {
    scroll-behavior: smooth;
}


body {}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #003f3160;
}

.logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
}

.logo {
    position: relative;
    width: 150px;
    padding: 0 10px;
}

.logo2 {
    width: 150px;
    padding: 0 10px;
}

@media(max-width:1090px) {

    .logo,
    .logo2 {
        width: 100px;
    }


}

@media(max-width:930px) {

    .logo,
    .logo2 {
        width: 150px;
    }
}

@media(max-width:530px) {

    .logo,
    .logo2 {
        width: 100px;
    }

    .logos {
        top: 25px;
    }
}

.nav {
    height: 80px;
    transition: .3s;
    position: relative;
    z-index: 100000;
}

.menu li {
    font-size: 14px;
    padding: 0 15;
    line-height: 80px;
    height: 100%;
    transition: .2s;
}

a {
    text-decoration: none;
    margin-top: -3px;
}

.menu a li:hover {
    color: #0080C2;
    transition: .2s;
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: 3%;
}

header .fas {
    display: none;
}





@media(max-width:1600px) {
    .menu a li {
        font-size: 12px;
        padding: 0 10;
    }
}

@media(max-width:1400px) {
    .menu {
        flex-direction: column;
        background: rgba(37, 37, 37, 0.89);
        height: 100vh;
        width: 60%;
        right: -60%;
        position: fixed;
        transition: .3s;
        text-align: center;
    }

    header .fas {
        display: block;
        font-size: 30;
    }

    header .fa-bars {
        position: absolute;
        right: 5%;
        line-height: 80px;
        z-index: 0;
    }

    header .fa-times {
        position: absolute;
        right: 10%;
        top: 2.5%;
    }

    .menu a {
        font-size: 20px;
        position: relative;
        top: 50px;
    }

    .menu li {
        height: 70px;
    }

    .menu-show {
        right: 0;
        transition: .3s;
        z-index: 20;
        box-shadow: 0px 0px 10px rgb(46, 39, 41);
    }


}

.uvod {
    position: relative;
    background-image: url('images/detBG.jpg');
    height: 100vh;
    background-size: auto;
}

.intro {
    text-align: center;
    width: 700px;
    margin: auto;
    margin-top: 100px;
}

.intro h1 {
    font-size: 40px;
}

.intro h2 {
    font-size: 17px;
    font-weight: 300;
}



.castiProhlidky {
    width: 960px;
    height: 380px;
    background: rgba(254, 254, 254, 0.08);
    box-shadow: 11px 16px 8px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 21px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 100px;
}

@media(max-width:1060px) {
    .castiProhlidky {
        width: 600px;
        height: 500px;
        margin-top: 50px;
    }

    .intro {
        margin-top: 50px;
    }
}

@media(max-width:680px) {
    .castiProhlidky {
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .castiProhlidky h1 {
        font-size: 30px;
    }

    .castiProhlidky p {
        font-size: 14px;
    }
}

@media (max-width:480px) {
    .castiProhlidky {
        width: 300px;
    }
}

@media (max-width:768px) {
    .intro {
        width: 500px;
    }

    .intro h1 {
        font-size: 30px;
    }

    .intro h2 {
        font-size: 12px;
    }
}

@media(max-width:500px) {
    .intro {
        width: 350px;
    }
}

.sluzby {
    width: 930px;
    height: 420px;
    background: #052237;
    box-shadow: 11px 16px 8px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 21px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    padding: 30px 50px;
    margin-top: 150px;

}

.sluzby-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    margin-top: 30px;
}

.sluzby-box {
    width: 260px;
    height: 150px;
    background: rgba(8, 42, 67, 0.62);
    border-radius: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.sluzby button {
    width: 200px;
    height: 50px;
    background: rgba(19, 61, 90, 0.85);
    backdrop-filter: blur(19px);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -25px;
    font-size: 15px;
}

.center {
    margin: auto;
}

.sluzby button img {
    margin-left: 5px;
    position: relative;
    right: 0%;
    transition: .5s;
    opacity: 1;
    width: 10px;
}

.sluzby button:hover img {
    right: -20px;
    transition: .5s;
    opacity: 0;
}


@media(max-width:1060px) {
    .sluzby {
        width: 500px;
        height: 550px;
        margin-top: 50px;
    }

    .sluzby h1 {
        text-align: center;
    }

    .sluzby-box {
        width: 200px;
        height: 120px;
        margin: auto;
    }
}

@media(max-width:680px) {
    .sluzby {
        width: 400px;
        height: 520px;
        margin-top: 50px;
    }

    .sluzby h1 {
        text-align: center;
    }

    .sluzby-box {
        padding: 10 10;
        width: 170px;
        height: 100px;
        font-size: 12px;
        margin: auto;
    }
}

@media(max-width:530px) {
    .sluzby {
        width: 350px;
        height: 800px;
        margin-top: 50px;
        padding: 20 0;
        font-size: 15px;
    }

    .sluzby h1 {
        text-align: center;
        font-size: 25px;
    }

    .sluzby-box {
        padding: 10 10;
        width: 250px;
        height: 100px;
        font-size: 12px;
        margin: auto;
    }
}

.footer {
    width: 100vw;
    height: 50px;
    background: #002B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.footer h1 {
    font-size: 15px;
    color: #adadad;
    font-weight: 200;
}

@media(max-width:550px) {
    .footer {
        margin-top: 50px;
    }
}