@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Exo';
    outline: none;
}

html {
    scroll-behavior: smooth;
}


body {}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    left: 3%;
    margin-top: 10px;
    width: 200px;
}

.nav {
    height: 80px;
    transition: .3s;
    position: relative;
    z-index: 100000;
}

.menu li {
    font-size: 18px;
    padding: 0 15;
    line-height: 80px;
    height: 100%;
    transition: .2s;
}

a {
    text-decoration: none;
    margin-top: -3px;
}

.menu a li:hover {
    color: #0080C2;
    transition: .2s;
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: 3%;
}

header .fas {
    display: none;
}

@media(max-width:1400px) {
    .menu a li {
        font-size: 17px;
    }

    .logo {
        width: 150px;
        margin-top: 17px;
    }
}



@media(max-width:1100px) {
    .menu a li {
        font-size: 14px;
        padding: 0 10;
    }
}

@media(max-width:950px) {
    .menu {
        flex-direction: column;
        background: rgba(37, 37, 37, 0.89);
        height: 100vh;
        width: 60%;
        right: -60%;
        position: fixed;
        transition: .3s;
        text-align: center;
    }

    header .fas {
        display: block;
        font-size: 30;
    }

    header .fa-bars {
        position: absolute;
        right: 5%;
        line-height: 80px;
        z-index: 0;
    }

    header .fa-times {
        position: absolute;
        right: 10%;
        top: 2.5%;
    }

    .menu a {
        font-size: 20px;
        position: relative;
        top: 100;
    }

    .menu li {
        height: 70px;
    }

    .menu-show {
        right: 0;
        transition: .3s;
        z-index: 20;
        box-shadow: 0px 0px 10px rgb(46, 39, 41);
    }


}

.uvod {
    position: relative;
    background-image: url('images/detBG.jpg');
    height: 100vh;
    background-size: auto;
}

.intro {
    position: relative;
    top: 200px;
    text-align: center;

}

.intro h1 {
    font-size: 55px;
}

.intro h2 {
    font-size: 14px;
    font-weight: 300;
    padding: 0 10%;
}

@media(max-height:900px) {
    .intro {
        top: 100px;
    }
}

@media(max-width:750px) {
    .intro h1 {
        font-size: 43px;
    }
}

@media(max-width:600px) {
    .intro h1 {
        font-size: 35px;
    }

    .intro h2 {
        font-size: 12px;
        padding: 0 5%;
    }
}

@media(max-width:470px) {
    .intro h1 {
        font-size: 28px;
    }

    .intro h2 {
        font-size: 12px;
        padding: 0 5%;
    }
}

@media(max-height:700px) {
    .intro {
        top: 50px;
    }
}

.castiProhlidky {
    width: 1000px;
    height: 400px;
    background: rgba(254, 254, 254, 0.08);
    box-shadow: 11px 16px 8px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 21px;
    margin: auto;
    position: relative;
    top: 300px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media(max-width:1100px) {
    .castiProhlidky {
        width: 700px;
        height: 400px;
    }
}

@media(max-width:800px) {
    .castiProhlidky {
        width: 500px;
        height: 600px;
    }
}




@media(max-height:900px) {
    .castiProhlidky {
        top: 200px;
    }
}

@media(max-height:800px) {
    .castiProhlidky {
        top: 150px;
    }
}

@media(max-height:700px) {
    .castiProhlidky {
        top: 80px;
    }
}

.castiProhlidky h1 {
    font-size: 30px;
}

.castiProhlidky p {
    font-size: 15px;
}

.sluzby {
    width: 930px;
    height: 420px;
    background: #052237;
    box-shadow: 11px 16px 8px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 21px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    padding: 30px 50px;

}

.sluzby-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    margin-top: 30px;
}

.sluzby-box {
    width: 260px;
    height: 150px;
    background: rgba(8, 42, 67, 0.62);
    border-radius: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.sluzby button {
    width: 200px;
    height: 50px;
    background: rgba(19, 61, 90, 0.85);
    backdrop-filter: blur(19px);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -25px;
    font-size: 15px;
}

.sluzby button img {
    margin-left: 5px;
    position: relative;
    right: 0%;
    transition: .5s;
    opacity: 1;
    width: 10px;
}

.sluzby button:hover img {
    right: -20px;
    transition: .5s;
    opacity: 0;
}

.footer {
    width: 100vw;
    height: 50px;
    background: #002B4A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.footer h1 {
    font-size: 15px;
    color: #adadad;
    font-weight: 200;
}

@media(max-width:550px) {
    .footer {
        margin-top: 50px;
    }
}